.popup-container {
  padding: 30px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 350px;
  box-shadow: 0 4px 6px rgba(2, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.popup-message {
  font-size: 18px;
}
.popup-actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin-top: 20px;
}

.popup-actions button {
  margin: 5px;
  width: 100%;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-actions button:first-child {
  background-color: #54d772;
  color: white;
}

.popup-actions button:last-child {
  background-color: #f15a69;
  color: white;
}


.popup-actions button:first-child:hover {
  background-color: #05a92b;
  color: white;
}

.popup-actions button:last-child:hover {
  background-color: #c20013;
  color: white;
}

